@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*////
Table of Contents
1. Global Styles
2. Typography
3. Areas
  3.1. -
/////*/

/*-------------1. Global Styles-------------*/
:root {
  --main-bg-color:
          hsl(258 32 16);
  --second-bg-color:
          hsl(330 13 0);
  --primary-color:
          hsl(206 71 52);
  --secondary-color:
          hsl(267 62 38);
  --accent-color:
          hsl(315 66 44);
  --text-color:
          hsl(210 13 94);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------2. Typography-------------*/
html {
  font-size: 14px;
}

@media screen and (min-width: 768px){
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px){
  html {
    font-size: 18px;
  }
}

body {
  font-family: Roboto, sans-serif;
  background: var(--main-bg-color);
}

p, h1, li, a, button {
  color: var(--text-color);
}

/*-------------3. Areas-------------*/